{% extends 'base.html' %}
{% load static %}
{% block content %}


<!-- Shopping Cart -->
<div class="shopping-cart section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Shopping Summery -->
                <table class="table shopping-summery">
                    <thead>
                        <tr class="main-hading">
                            <th>PRODUCT</th>
                            <th>NAME</th>
                            <th class="text-center">UNIT PRICE</th>
                            <th class="text-center">QUANTITY</th>
                            <th class="text-center">TOTAL</th> 
                            <th class="text-center"><i class="ti-trash remove-icon"></i></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in cart_items %}
                        <tr>
                            <td class="image" data-title="No"><img src="{{ item.book.coverpage.url }}" alt="{{ item.book.name }}"></td>
                            <td class="product-des" data-title="Description">
                                <p class="product-name"><a href="#">{{ item.book.name }}</a></p>
                                <p class="product-des">{{ item.book.description|slice:":200" }}</p>
                            </td>
                            <td class="price" data-title="Price"><span>{{ item.book.price }}</span></td>

                            <td class="qty" data-title="Qty"><!-- Input Order -->
                                <div class="input-group">
                                    
                                    <input type="text" name="quant[1]" class="input-number"  data-min="1" data-max="100" value="{{ item.quantity }}">
                                    
                                </div>
                                <!--/ End Input Order -->
                            </td>

                            <td class="total-amount" data-title="Total"><span>Tk.{{ item.total }}</span></td>
                            <td class="action" data-title="Remove"><a href="#"><i class="ti-trash remove-icon"></i></a></td>
                        </tr>
                        {% endfor %}
                 
                    </tbody>
                </table>
                <!--/ End Shopping Summery -->
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <!-- Total Amount -->
                <div class="total-amount">
                    <div class="row">
                        
                        <div class="offset-lg-8 offset-md-8 col-lg-4 col-md-7 col-12">
                            <div class="right">
                                <ul>
                                    <li>Cart total: <span>Tk. {{ total_price }}</span></li>
                                </ul>
                                <div class="button5">
                                    <a href="#" class="btn">Checkout</a>
                                    <a href="#" class="btn">Continue shopping</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/ End Total Amount -->
            </div>
        </div>
    </div>
</div>
<!--/ End Shopping Cart -->
{% endblock %}	